.overlay {
    background-color: rgba(249, 248, 246, 0.661);
    z-index: 1;
}

.modal-container {
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1.125em 0 rgba(0, 0, 0, 0.75);
}

.close-modal-container {
    justify-content: right;
}

.modal-textarea {
  resize: none;
}

.modal-toast-container {
   z-index: 2; 
}









