 .scroll{
  overflow-x: hidden;
  overflow-y: auto;
 }
/* width */
::-webkit-scrollbar {
  width: 0.625em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EBDFDC;
  border-radius: 0.188em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EFA68F;
  border-radius: 0.188em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FD9C7D;
  border-radius: 0.188em;
}