.text-bio {
    z-index: 0;
}

.image-bio-container {
  position: relative;
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border: 0.094em solid #FD9C7D;
    border-radius: 0.188em;
  }

  &::before {
    background-color: #FD9C7D;
    top: -0.313em;
    left: 3.75em;
  }
  &::after {
    bottom: -0.938em;
    right: -0.938em;
  }
  }
