@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter h1 {
  border-right: 0.3em solid #FD9C7D; /*the cursor to the right */
  margin: 0 auto; /* gives the scrolling effect during the typing animation */
  max-width: 150px; /* Set the max-width to 100px */
  letter-spacing: .2em; /* Adjust the letter-spacing to fit within 100px */
}
