.img-cards {
  transition: 0.5s;
}

.cards-img-container:hover .img-cards {
  opacity: 0.1;
}

.cards-img-container:hover .cards-title-container {
  opacity: 1;
}

.cards-img-container,
.conteneur{
  position: relative; 
  border-radius: 3px;
}
.conteneur:before{
  content: '';
  transition: 0.5s;
  position:relative;
  z-index:1; 
}
.cards-title-container {
  position: absolute;
  left: 0;
  top:0;
  opacity: 0;
  transition: 0.5s;
  z-index:0
}
.conteneur:hover:before{
  opacity: 0.5;
}

.conteneur:hover .cards-title-container {
  opacity: 1;
}


