@tailwind base;
@tailwind components;
@tailwind utilities;

.header-hover-download:hover {
   text-decoration-line:line-through;
   text-decoration-thickness: 2px;
   text-decoration-color: #FD9C7D;
}

.header-hover-contact:hover {
   text-decoration-line:line-through;
   text-decoration-thickness: 2px;
   text-decoration-color: #FD9C7D;
}