.footer-container {
    display: flex;
    align-items: center;
    border-top: 1px solid #222121;
    position: fixed;
    width: 100%;
    margin-top: 50px;
    height: 2.3em;
    bottom: 0;
    left: 0;
}

.footer-items{
    display: flex;
    margin-left: 4.375em;
}

.line-footer {
    margin: 0.188em 1.313em 0 1.313em;
    height: 1.163em;
}